* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
  }
  
  html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
  }
  
  .container {
    width: 60rem;
    margin: 0 auto;
    margin-top: 15rem;
    border: 1px solid #e6e6e6;
    box-shadow: 0 0.5rem 1rem #e6e6e6;
    z-index: 9;
  }
  
  .title,
  .input-container,
  .lists {
    border-bottom: 1px solid #e6e6e6;
    padding: 1.6rem;
  }
  
  .title,
  .input-container {
    display: flex;
    justify-content: space-between;
  }
  
  .title i {
    color: #1b1a1a;
    font-size: 2rem;
    font-weight: bold;
  }
  
  .lists {
    list-style: none;
    font-size: 1.6rem;
  }
  
  .lists .list-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #e6e6e6;
  }
  
  .lists .list-info:focus-within {
    background: #ffff80;
  }
  
  .lists .check label {
    display: flex;
    align-items: center;
  }
  
  .title h2 {
    font-size: 2rem;
    color: #454545;
  }
  
  .style {
    border: none;
    outline: none;
    font-size: 2rem;
    padding: 10px;
  }
  
  .icon i {
    color: #666464;
    font-size: 2rem;
    cursor: pointer;
  }
  
  .clear-container {
    padding: 1.6rem;
    display: flex;
    justify-content: center;
    background-color: #f8f8f8;
  }
  
  .input-container input {
    border: none;
    font-size: 1.8rem;
    padding: 0.4rem;
    width: 60vw;
  }
  
  .input-container i {
    color: #313030;
    font-size: 2rem;
    font-weight: bold;
  }
  
  .input-container input::placeholder {
    font-style: italic;
    color: #cfcfcf;
  }
  
  .btn {
    cursor: pointer;
    background: none;
    border: none;
  }
  
  .btn-clear {
    color: #5c5c5c;
    font-size: 1.6rem;
    font-weight: 700;
  }
  